
		<footer class="footer-distributed">

			<div class="footer-right">

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="#">facebook</a>

					<a href="#">Twitter</a>

					<a href="#">Youtube</a>

					<a href="#">Contact</a>
				</p>

				<p>Projet developpement back 2021 </p>
			</div>

		</footer>
