{% extends 'base.html.twig' %}

{% block title %}Modification du profil de {{app.user.name}}{% endblock %}

{% block body %}

<div class="container">
<h1>Modification du profil de {{app.user.name}} {{app.user.firstname}}</h1>
{{ form(form) }}
</div>
{% endblock %}
